footer {
    margin-top: 13.3vw;
    padding: 0 7.91vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footerLeft {
    width: 20.41vw;
    display: flex;
    flex-direction: column;
}
#underCont {
    font-size: 1.15vw;
    margin-top: 1.09vw;
}
#underCont div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5vw;
}
.boldCont {
    min-width: 10vw;
    float: left;
    font-weight: 500;
    line-height: 1.5vw;
    letter-spacing: 0.005em;
    color: #000000;
}
.lightCont {
    width: 13.3vw;
    line-height: 1.5vw;
    letter-spacing: 0.005em;
    color: #313131;
}
iframe {
    border: 0;
    width: 50.5vw;
    height: 31.25vw;
}
#downFooter {
    margin-top: 14.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding : 3.54vw 0;
    background: linear-gradient(180deg, rgba(241, 244, 249, 0) 0%, rgba(171, 171, 171, 0.5) 100%);
}

@media screen and (max-width: 920px) {
    footer {
        padding: 0;
        flex-direction: column;
        margin-top: 14.4vh;
    }
    iframe {
        width: 100vw;
        height: 64.4vw;
        margin-top: 3.3vh;
    }
    #footerLeft {
        padding-left: 4.44vw;
        width: 91.2vw;
    }
    .boldCont, .lightCont {
        font-size: 3.88vw;
        width: 44vw;
        line-height: 6.66vw;
        letter-spacing: 0.005em;
    }
    .lightCont {
        width: 57vw;
    }
    #downFooter {
        font-size: 3.33vw;
        line-height: 5vw;  
        text-align: center;
        padding: 0 25vw;
        padding-bottom: 7vw;
        letter-spacing: 0.005em;
    }
}